@import url('https://fonts.cdnfonts.com/css/next-art?styles=25348');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #2C2C2C;    
}
li{
    list-style: none;
}
a{
    color: #E4E4E4;
    text-decoration: none;
    display: inline-block;
}
header{
    background-color: #2C2C2C;
}
header nav{
    padding: 20px 0;
}
.container{
    width: 60vw;
    margin: 0 auto;
}
header nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .container ul{
    display: flex;
    align-items: center;
}
header nav .container ul li{
    margin-left: 100px !important;
}
main .header_main img{
    margin-left: 0px;
}
main .header_main{
    background-color: #2C2C2C;
    display: flex;
}
main .info{
    border: none;
    color: #E4E4E4;
    width: 447px;
    margin-top: 150px;
    margin-left: 150px;
}
main .header_main .info h1{
    font-family: 'NEXT ART', sans-serif;
    font-size: 72px;
}
main .header_main .info h2{
    padding: 15px 0;
    font-weight: 600;
    font-family: 'NEXT ART', sans-serif;
    font-size: 48px;
}
main .header_main .info p{
    font-weight: 300;
}
main .header_main .info button{
    background-color: #E2A300;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 700;
    border: none;
    color:#000000;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px #E2A300;
}
main .header_main .info p{
    padding: 15px 0;
}