*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
a{
    color: #E4E4E4;
    text-decoration: none;
    display: inline-block;
}
header{
    position: relative;
    background-color: #2C2C2C;
}
header nav{
    padding: 20px 0;
}
.container{
    width: 60vw;
    margin: 0 auto;
}
header nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav .container ul{
    display: flex;
}
header nav .container ul li{
    margin-left: 100px !important;
}
